.u-section-1 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-1 .u-image-1 {
  width: 231px;
  height: 341px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 59px auto 0;
}

.u-section-1 .u-image-2 {
  width: 262px;
  height: 54px;
  margin: 65px auto 60px 492px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 73px;
    margin-right: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 78px;
  }
}